body {
  margin: 0;
  display: flex;
  justify-content: center;
  background: #23252C;
  color: aliceblue;
  font-family:'inter';
  font-size:small;
}
.App {
  background-color:#1A1B21;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 0.5rem;

}
.info img {
  top:0;
  left:0;
  width: 339px;
  border-radius: 0.5rem;
}
.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width:100%;

}
.info h1{
  margin:0;
  font-weight: 600;
}
.info h2{
  margin:0;
  font-size: smaller;
  font-weight: lighter;
}
.info button{
  border-radius: 0.1rem;
  margin: 3px;
  border:none;
  padding:5px 8px;
}
.info button:hover{
  background-color: #35363a;
  cursor:pointer;
}

.mail{
  background: #e25050;
  color: white;
}
.linkedin{
  background: #5093E2;
  color: white;
}
.About{
  display: flex;
  width:100%;
  flex-direction: column;

}
.About h1{
  align-self: flex-start;
  margin: 0;
  margin-left:13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;}
.About p{
  align-self: flex-start;
  /* margin: 0; */
  margin-left:13px;
}
.interests{
  display: flex;
  width:100%;
  flex-direction: column;
  
}
.interests h1{
  align-self: flex-start;
  /* margin-top: 10; */
  margin-left:13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.interests p{
  align-self: flex-start;
  margin: 0;
  margin-left:13px;
}
.footer{
  position: absolute;
  bottom: 0;
}